### Jekyll ###
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
vendor/bundle/
vendor/cache/
vendor/gems/
vendor/ruby/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# Img Staging
assets/img/bloated/aws.svg
assets/img/bloated/citrix.svg
assets/img/bloated/cloud.svg
assets/img/bloated/cube.svg
assets/img/bloated/google.svg
assets/img/bloated/headerLogo.svg
assets/img/bloated/logo2.svg
assets/img/bloated/mastLogo.png
assets/img/bloated/microsoft.svg
assets/img/bloated/networking.svg
assets/img/bloated/training.svg
assets/img/bloated/vmware.svg
assets/img/minified/aws.svg
assets/img/minified/citrix.svg
assets/img/minified/cube.svg
assets/img/minified/google.svg
assets/img/minified/headerLogo.svg
assets/img/minified/linkedin.svg
assets/img/minified/logo.svg
assets/img/minified/microsoft.svg
assets/img/minified/networking.svg
assets/img/minified/solution.svg
assets/img/minified/training.svg
assets/img/minified/twitter.svg
assets/img/minified/vmware.svg
