<div class="container mt-5">
    <div class="row mb-5 pb-md-4 align-items-center justify-content-center">
        <div class="col-md-5">
            <h2 class="text-primary">Virtualization Services</h2>
            <p class="lead font-weight-normal">
                We’ll guide you in developing and implementing a virtualization or networking
              design that satisfies business goals and adheres to leading practices.
            </p>
            <p>Package managed installs don’t include documentation or our full build scripts. You can also <a
                    href="https://github.com/twbs/bootstrap-npm-starter">use our npm template repo</a> to quickly
                generate a Bootstrap project via npm.</p>
            <a class="btn btn-lg btn-outline-primary mb-3" href="/virtualization">Read installation
                docs</a>
        </div>
            <div class="col-md-7 d-flex justify-content-center">
                <img class="w-25" src=/assets/img/cube.svg alt="Virtualization">
            </div>
    </div>


        <div class="row mb-5 pb-md-4 align-items-center">
            <div class="col-md-5">
                <h2 class="text-primary">Networking Services</h2>
                <p class="lead font-weight-normal">
                    We’ll guide you in developing and implementing a virtualization or networking
              design that satisfies business goals and adheres to leading practices.
                </p>
                <p>
                    See it in action with our simple <a
                        href="/docs/4.5/getting-started/introduction/#starter-template">starter
                        template</a>, or <a href="/docs/4.5/examples/">browse the examples</a> to jumpstart your next
                    project.
                </p>
                <a class="btn btn-lg btn-outline-primary mb-3" href="/docs/4.5/layout/overview/">Explore the docs</a>
            </div>
            <div class="col-md-7 d-flex justify-content-center">
                <img class="w-25" src=/assets/img/networking.svg alt="Virtualization">
            </div>
        </div>

        <div class="row mb-5 pb-md-4 align-items-center">
            <div class="col-md-5">
                <h2 class="text-primary">Training</h2>
                <p class="lead font-weight-normal">
                    Our master instructors can provide customized on-site or remote training programs
                    to be tailored to your organizational needs.
                </p>
                <p>
                    Bootstrap Icons are designed to work best with Bootstrap components, but they’ll work in any
                    project.
                    They’re SVGs, so they scale quickly and easily, can be implemented in several ways, and can be
                    styled
                    with
                    CSS.
                </p>
                <a href="https://icons.getbootstrap.com" class="btn btn-lg btn-outline-primary mb-3">Get Bootstrap
                    Icons</a>
            </div>
            <div class="col-md-7 d-flex justify-content-center">
                <img class="w-25" src=/assets/img/training.svg alt="Virtualization">
            </div>
        </div>

        <div class="row mb-5 pb-md-4 align-items-center">
            <div class="col-md-5">
                <h2 class="text-primary">Cloud Services</h2>
                <p class="lead font-weight-normal">
                    We provide expert guidance in migrating an existing on-premises or new Citrix
              virtualization environment to Citrix Cloud with Azure, AWS, or GCP.
                </p>
                <p>
                    Themes are built on Bootstrap as their own extended frameworks, rich with new components and
                    plugins,
                    documentation, and powerful build tools.
                </p>
                <a href="https://themes.getbootstrap.com" class="btn btn-lg btn-outline-primary mb-3">Browse themes</a>
            </div>
            <div class="col-md-7 d-flex justify-content-center">
                <img class="w-25" src=/assets/img/cloud.svg alt="Virtualization">
            </div>
        </div>
    </div>