<div class="container mt-5">
    <div class="row mb-5 pb-md-4 align-items-center">
        <div class="col-md-5">
            <h2 class="text-primary">Virtualization Services</h2>
            <p class="lead font-weight-normal">
                Install Bootstrap’s source Sass and JavaScript files via npm, Composer, or Meteor.
            </p>
            <p>Package managed installs don’t include documentation or our full build scripts. You can also <a
                    href="https://github.com/twbs/bootstrap-npm-starter">use our npm template repo</a> to quickly
                generate a Bootstrap project via npm.</p>
            <a class="btn btn-lg btn-outline-primary mb-3" href="/docs/4.5/getting-started/download/">Read installation
                docs</a>
        </div>
            <div class="col-md-7 pl-5">
                <img class="w-25" src=/assets/img/cube.svg alt="Virtualization">
            </div>
    </div>


        <div class="row mb-5 pb-md-4 align-items-center">
            <div class="col-md-5">
                <h2 class="text-primary">Networking Services</h2>
                <p class="lead font-weight-normal">
                    When you only need to include Bootstrap’s compiled CSS or JS, you can use <a
                        href="https://www.bootstrapcdn.com/">BootstrapCDN</a>.
                </p>
                <p>
                    See it in action with our simple <a
                        href="/docs/4.5/getting-started/introduction/#starter-template">starter
                        template</a>, or <a href="/docs/4.5/examples/">browse the examples</a> to jumpstart your next
                    project.
                </p>
                <a class="btn btn-lg btn-outline-primary mb-3" href="/docs/4.5/layout/overview/">Explore the docs</a>
            </div>
            <div class="col-md-7 pl-md-5">
                <img class="w-25" src=/assets/img/networking.svg alt="Virtualization">
            </div>
        </div>

        <div class="row mb-5 pb-md-4 align-items-center">
            <div class="col-md-5">
                <h2 class="text-primary">Training</h2>
                <p class="lead font-weight-normal">
                    For the first time ever, Bootstrap has its own open source SVG icon library, designed to work best
                    with
                    our
                    components and documentation.
                </p>
                <p>
                    Bootstrap Icons are designed to work best with Bootstrap components, but they’ll work in any
                    project.
                    They’re SVGs, so they scale quickly and easily, can be implemented in several ways, and can be
                    styled
                    with
                    CSS.
                </p>
                <a href="https://icons.getbootstrap.com" class="btn btn-lg btn-outline-primary mb-3">Get Bootstrap
                    Icons</a>
            </div>
            <div class="col-md-7 pl-md-5">
                <img class="w-25" src=/assets/img/training.svg alt="Virtualization">
            </div>
        </div>

        <div class="row mb-5 pb-md-4 align-items-center">
            <div class="col-md-5">
                <h2 class="text-primary">Cloud Services</h2>
                <p class="lead font-weight-normal">
                    Take Bootstrap to the next level with premium themes from the <a
                        href="https://themes.getbootstrap.com">official Bootstrap Themes marketplace</a>.
                </p>
                <p>
                    Themes are built on Bootstrap as their own extended frameworks, rich with new components and
                    plugins,
                    documentation, and powerful build tools.
                </p>
                <a href="https://themes.getbootstrap.com" class="btn btn-lg btn-outline-primary mb-3">Browse themes</a>
            </div>
            <div class="col-md-7 pl-md-5">
                <img class="w-25" src=/assets/img/cloud.svg alt="Virtualization">
            </div>
        </div>
    </div>