<section class="fdb-block">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 text-center">
          <h1>Services</h1>
          <p class="lead text-center">Advantec provides world-class, strategic consulting services to organizations around the globe. Let our team provide your organization with the skills needed to work smarter.</p>
        </div>
      </div>
  
      <div class="row text-left pt-5">
        <div class="col-12 col-sm-6 col-md-5">
          <img alt="image" class="fdb-icon" src="./imgs/icons/layers.svg">
          <h3><strong>Consulting</strong></h3>
          <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
        </div>
  
        <div class="col-12 col-sm-6 col-md-5 ml-sm-auto pt-5 pt-sm-0">
          <img alt="image" class="fdb-icon" src="./imgs/icons/package.svg">
          <h3><strong>Architecture</strong></h3>
          <p>It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life.</p>
        </div>
      </div>
    </div>
  </section>