<div class="container mx-auto px-3 my-5">
    <div class="d-sm-flex gutter-md-condensed flex-wrap flex-items-center mt-6 f5">
      
        <div class="col-12 col-md-6 mb-3">
          <a href="consulting" class="adv-card hover-card p-4 d-flex flex-items-center">
            <div class="offering-icon mr-4 d-none d-sm-block"><img src=/assets/img/implementation.svg alt="Cloud Services" width="104"
                height="104"></div>
            <div>
              <h3 class="h3 mb-2">Cloud Services</h3>
              <p class="text-white">We provide expert guidance in migrating an existing on-premises or new Citrix
                virtualization environment to Citrix Cloud with Microsoft Azure or AWS.</p>
            </div>
          </a>
        </div>
  
        <div class="col-12 col-md-6 mb-3">
          <a href="consulting" class="adv-card hover-card p-4 d-flex flex-items-center">
            <div class="offering-icon mr-4 d-none d-sm-block"><img src=/assets/img/architecture.svg alt="Design and Implementation" width="104" height="104">
            </div>
            <div>
              <h3 class="h3 mb-2">Design and Implementation</h3>
              <p class="text-white">We’ll guide you in developing and implementing a virtualization or networking
                design that satisfies business goals and adheres to leading practices.</p>
            </div>
          </a>
        </div>
    </div>
</div>