<footer class="footer p-3 p-md-5 mt-5 text-white bg-secondary border-top border-dark pb-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0"><a class="footer-brand mr-5" href="/"><img alt="Advantec Logo"
                        class="d-inline-block align-middle mr-2 pb-1" src="/assets/img/logo.svg" height="75px;"></a>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
                <h5 class="mb-3 text-primary font-weight-bold">Company</h6>
                    <ul class="list-unstyled adv-footer-links2">
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
            </div>
            <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
                <h5 class="mb-3 text-primary font-weight-bold">Services</h6>
                    <ul class="list-unstyled adv-footer-links2">
                        <li><a href="/virtualization">Virtualization</a></li>
                        <li><a href="/networking">Networking</a></li>
                        <li><a href="/cloud">Cloud</a></li>
                    <!--    <li><a href="/security">Security</a></li> -->
                    </ul>
            </div>
            <div class="col-lg-2 col-sm-4 mb-5 mb-lg-0">
                <h5 class="mb-3 text-primary font-weight-bold">Training</h6>
                <ul class="list-unstyled adv-footer-links2">
                    <li><a href="/training">Courses</a></li>
                </ul>
            </div>
        </div>
        <div class="row align-items-center justify-content-md-between py-4 mt-4">
            <div class="col-md-6">
                <div class="text-muted">© Advantec Global Services, Inc 2020
                </div>
                <p class="mb-0 text-muted">buildTime: {{ site.time | date_to_rfc822 }}</p>
            </div>
        </div>
    </div>
</footer>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
{% if page.code == true %}
<script src="/assets/js/prism.js"></script>
{% endif %}