<section class="bg-secondary py-4">
  <div class="container align-items-center justify-content-center d-flex">
    <div class="row align-items-center text-left">
      <div class="col-12 col-lg-5 ml-auto pt-5 pt-lg-0">
        <h1>Advantec can help</h1>
        <p class="lead">We provides world-class, strategic consulting services to organizations around the globe. Let
          our team provide your organization with the skills needed to work smarter.</p>
        <p class="mt-4"><a href="/contact" class="btn btn-primary btn-lg">Contact us</a></p>
      </div>
      <div class="col-12 col-sm-6">
        <img alt="image" class="img-fluid d-none d-md-block" src="/assets/img/solution.svg">
      </div>
    </div>
  </div>
</section>