//Override Boostrap Default Variables

$body-bg: #424250;
$body-color: #FFFFFF;
$primary: #1EB980;
$orange: #FF6859;
$yellow: #FFCF44;
$purple: #B15DFF;
$blue: #72DEFF;
$dark: #1E1E1E; //Focus container
$secondary: #373740; //Container
$light: #ADADAD; //Secondary Text
$theme-colors: (
  "darkPrimary": #045D56,
  "lightPrimary": #37efbb,
  "orange": #FF6859,
  "yellow": #FFCF44,
  "purple": #B15DFF,
  "blue": #72DEFF
);
$dropdown-color: #ffffff;
$dropdown-bg: #373740;
$dropdown-border-color: #1e1e1e;
$dropdown-link-color: #ffffff;
$navbar-brand-padding-y: 0px;
$navbar-dark-brand-hover-color: #1EB980;
$navbar-dark-hover-color: #1EB980;
$navbar-dark-active-color: #1EB980;
$navbar-dark-color: #ffffff;
$input-color: #000000;
$input-bg: #ADADAD;
$input-border-color: #1e1e1e;