---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{% include head.html %}

<body>
  {% include navbar.html %}
  <div class="container mt-5">
    <section>
      <h2 class="font-weight-bold pb-2">{{ page.title }}</h3>
        <hr align="left" class="adv-hr my-4">
        <p class="lead pt-2 mb-1">{{ page.tagline }}</p>
        <ul class="ml-0 pl-0">
          {% for post in site.posts %}
          <li class="list-unstyled">
            <h4> <a href="{{ post.url }}">
                {{ post.title }}
              </a></h4><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
            {{ post.excerpt }}
          </li>
          {% endfor %}
        </ul>
    </section>
  </div>

  {% include footer.html %}
</body>

</html>