---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}

<body>
    {% include navbar.html %}
    <div class="container">
        <div class="row">
            <div class="col-sm-3 bg-blogSide pt-5">
                {% for category in site.categories %}
                <h5>{{ category[0] }}</h5>
                <ul class="list-unstyled">
                    {% for post in category[1] %}
                    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
            <div class="col-sm-9 pt-5 bg-blogDark text-blog">
                <h2 class="font-weight-bold text-left pb-2">{{ page.title }}</h2>
                <p class="text-left mb-0">Author: {{ page.author }}</p>
                <p class="text-left">Last Modified: {{ page.date | date: '%B %d, %Y' }}</p>
                <hr align="left" class="adv-hr my-4">
                <section class="mb-5">
                    {{ content }}
                </section>
                {% include comments.html %}
            </div>
        </div>
    </div>
    {% include footer.html %}
</body>

</html>