---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{% include head.html %}

<body>
    {% include navbar.html %}
    <div class="container mt-5 mb-5">
        <section>
            <h1 class="font-weight-bold text-center pb-2">{{ page.title }}</h1>
                <hr class="adv-hr my-4">
                <p class="lead text-center pt-2 mb-5">{{ page.tagline }}</p>
                {{ content }}
        </section>
    </div>

    {% include footer.html %}
</body>

</html>