---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">

{% include head.html %}

<body>
    {% include navbar.html %}
    <div class="container mt-5">
        <section>
            <h2 class="font-weight-bold text-center pb-2">{{ page.title }}</h3>
                <hr class="adv-hr my-4">
                <p class="lead text-center pt-2 mb-5">{{ page.tagline }}</p>

                <div class="table-responsive-md">
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="thead-dark">
                            <tr >
                                <th scope="col">Course</th>
                                <th scope="col">Description</th>
                                <th scope="col">Certification</th>
                                <th scope="col">Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center bg-light" colspan="4"><p class="lead text-dark mb-0">Workspace</p></td>
                            </tr>
                            <tr>
                                <th scope="row">CWS-215</th>
                                <td>Citrix Virtual Apps and Desktops 7 Administration On-Premises and in Citrix Cloud</td>
                                <td>CCA-V</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CMB-318</th>
                                <td>Citrix Virtual Apps and Desktops 7, App Layering, and WEM Administration (Fast-Track)</td>
                                <td>CCA-V</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CWS-315</th>
                                <td>Citrix Virtual Apps and Desktops 7 Advanced Administration</td>
                                <td>CCP-V</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CWS-415</th>
                                <td>Citrix Virtual Apps and Desktops 7 Assessment, Design and Advanced Configuration</td>
                                <td>CCE-V</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CXD-250</th>
                                <td>Moving to the Citrix Virtual Apps and Desktops Service on Citrix Cloud</td>
                                <td>CC-VAD-CC</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CXD-252</th>
                                <td>Moving to the Citrix Virtual Apps and Desktops Service on Citrix Cloud with Microsoft Azure</td>
                                <td>CC-VAD-CC</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CXD-251</th>
                                <td>Citrix Virtual Apps and Desktops Service on Microsoft Azure</td>
                                <td>CC-VAD-MA</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CSF-201</th>
                                <td>Citrix Content Collaboration Enterprise Essentials</td>
                                <td>CC-SHAREFILE</td>
                                <td>2 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CEM-205</th>
                                <td>Manage Citrix Endpoint Management</td>
                                <td>CC-CEM</td>
                                <td>3 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CXS-301</th>
                                <td>Citrix XenServer 7.1 LTSR Administration</td>
                                <td>CC-XENSERVER</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CWS-206</th>
                                <td>Citrix Workspace Microapps Essentials</td>
                                <td>CC-WMS</td>
                                <td>3 Days</td>
                            </tr>
                            <tr>
                                <td class="text-center bg-light" colspan="4"><p class="lead text-dark mb-0">Networking</p></td>
                            </tr>
                            <tr>
                                <th scope="row">CNS-220</th>
                                <td>Citrix ADC 12.x Essentials and Traffic Management</td>
                                <td>CCA-N</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CNS-320</th>
                                <td>Citrix ADC 12.x Advanced Concepts - Security, Management and Optimization</td>
                                <td>CCP-N</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CNS-420</th>
                                <td>Citrix Networking Assessment, Design, and Advanced Configurations</td>
                                <td>CCE-N</td>
                                <td>5 Days</td>
                            </tr>
                            <tr>
                                <th scope="row">CNS-230</th>
                                <td>Deploy & Manage Citrix SD-WAN - Essentials</td>
                                <td>CC-SD-WAN</td>
                                <td>3 Days</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </section>
    </div>
    
    {% include footer.html %}
</body>

</html>